/*Fixed Content*/
.fixContent {
    width:0px;
    height:0px;
    position:absolute;
    display:block;
    background-color:#000;
    z-index:999;
}

.floater{
    margin: 30px 0px 0px -500px;
    display:block;
}


/*Scroller*/
body{width:5610px;
margin:0 auto;
}
.section{
    width:1870px;
    float:left;
}

.section ul{
    height:50px;
}

.black ul li{
    float:left;
    padding:5px;
    margin:5px;
    color:#777;
}
.black ul li a{
    display:block;
    color:#000;
}
.black ul li a:hover{
    text-decoration:none;
    color:#b2b2b2;
}

.toggler{z-index:999;
    position:relative;}

/*STATIC SCROLL*/
.staticHeader{position:absolute;
}
.floaterPushS2{
    margin-left:1375px;
}

.floaterPushS3{
    margin-left:3250px;
}

.floaterPullS2{
    margin-left:1375px;
}

.floaterPullS3{
  margin-left:-490px;
}


#spaper{margin-top:-10px;
	position:absolute;
}
