/* 
    Document   : app
    Created on : Jun 11, 2014, 11:36:45 AM
    Author     : vanjoechua
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.home-button {
    height: 150px;
    width: 150px;
    border: 1px solid #BBBBBB;
    background-color: #EEEEEE;
    border-radius: 30px;
    margin: 0 auto;
    text-align:center;
    cursor: pointer;
}

.nav-button {
    height: 70px;
    width: 70px;
    border: 1px solid #BBBBBB;
    background-color: #EEEEEE;
    border-radius: 5px;
    margin: 0 auto;
    text-align:center;
    cursor: pointer;
}

.home-button:before, .glyph-container, .nav-button:before, .nav-glyph-container {
  /* these are the important styles for the centered element: */
  display: inline-block;
  vertical-align: middle; 
}
.home-button:before, .nav-button:before {
  /* this is the important part */
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  /* this just takes care of whitespace added by having display:inline-block (there are other methods) */
  margin-left: -0.25em;
}

.very-large-glyph {
    font-size: 5em;
}

.medium-large-glyph {
    font-size: 3em;
}

.large-glyph {
    font-size: 2em;
}

.medium-glyph {
    font-size: 1.5em;
}

.top-buffer, .bottom-buffer {
    height: 30px
}

a, a:link, a:active, a:visited .nostyle {
    text-decoration: none
}

body .popover{
    /*width:400px;
    height:360px;*/
    max-width: none;
}

.green-folder {
  color: green;
}
.green-background {
  background-color: rgba(0, 128, 0, 0.5);
}

.orange-folder {
  color: orange;
}
.orange-background {
  background-color: rgba(255, 165, 0, 0.5);
}

.red-folder {
  color: red;
}
.red-background {
  background-color: rgba(255, 0, 0, 0.5);
}

.untouched-folder {
  color: gray;
}
.untouched-background {
  background-color: rgba(128, 128, 128, 0.5);
}

.blue-folder {
  color: blue;
}
.blue-background {
  background-color: rgba(0, 0, 255, 0.5);
}

.yellow-background {
  background-color: rgba(255, 255, 0, 0.5);
}

.white-background {
  background-color: white;
}

.pager-nomargin {
  margin: 0px 0px;
}

.invisible {
  visibility: hidden;
}

.invoice-title h2, .invoice-title h3 {
  display: inline-block;
}

.btn-folder-list {
  display: inherit;
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
}

.btn-folder-list > li {
  display: inline;
}

.btn-folder-list > li:hover {
  cursor: pointer;
}

div.dataTables_processing {
  height: 70px !important;
}

.btn-circle {
  /*
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
  */

  width: 22px;
  height: 22px;
  text-align: center;
  padding: 0px 0;
  font-size: 12px;
  line-height: 1.50;
  border-radius: 15px;
  
}

.btn.faded
{
  /*pointer-events: none;*/
  /*cursor: not-allowed;*/
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}

.btn-default.faded,
.btn-default.faded:hover,
.btn-default.faded:focus,
.btn-default.faded:active,
.btn-default.faded.active,
{
  background-color: #fff;
  border-color: #ccc;
}

.btn-primary.faded,
.btn-primary.faded:hover,
.btn-primary.faded:focus,
.btn-primary.faded:active,
.btn-primary.faded.active,
{
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-success.faded,
.btn-success.faded:hover,
.btn-success.faded:focus,
.btn-success.faded:active,
.btn-success.faded.active,
{
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-info.faded,
.btn-info.faded:hover,
.btn-info.faded:focus,
.btn-info.faded:active,
.btn-info.faded.active,
{
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-warning.faded,
.btn-warning.faded:hover,
.btn-warning.faded:focus,
.btn-warning.faded:active,
.btn-warning.faded.active,
{
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-danger.faded,
.btn-danger.faded:hover,
.btn-danger.faded:focus,
.btn-danger.faded:active,
.btn-danger.faded.active,
{
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-active, .btn-active:hover {
  border-color: black;
}

#timesheet-wrapper tr {
  cursor: pointer;
}

.popover.navbar-menu {
  max-width: 100%;
  padding: 10px 10px 0px 10px;
}

.double-underline {
    text-decoration:underline;
    border-bottom: 1px solid #000;
}

.selectize-control.loading::before {
  opacity: 1;
}

.selectize-control::before {
  -moz-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  content: ' ';
  z-index: 2;
  position: absolute;
  display: block;
  top: 50%;
  right: 34px;
  width: 16px;
  height: 16px;
  margin: -8px 0 0 0;
  background: url(../../thisapp/images/spinner.gif);
  background-size: 16px 16px;
  opacity: 0;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.client-header{
  padding:10px 20px 0px 20px;
  font-size:24px;
  color:#fff;
}

.cursor-pointer {
  cursor: pointer;
}

.label-invoice-FI {
  background-color: gold;
  color: black;
  font-weight: normal;
}

.label-invoice-IN {
  background-color: yellowgreen;
  color: black;
  font-weight: normal;
}

/*LEO CUSTOM CSS*/

.padded-row-format{
  padding-bottom:10px;
}
.auto-text-format{
  width:100px;
  height:115px;
  word-wrap: break-word;  
  overflow:hidden;
  text-align:center;
  margin:0 auto;
  padding:0px;
}

/* FIX DELEGATE MATTER FOOTER MODAL BUG */

.modal-footer{clear:both;} 