.hero-widget { text-align: center; padding-top: 20px; padding-bottom: 20px; }
.hero-widget .icon { display: block; font-size: 50px; line-height: 50px; margin-bottom: 10px; text-align: center; }
.hero-widget var { display: block; height: 40px; font-size: 40px; line-height: 40px; font-style: normal; }
.hero-widget label { font-size: 17px; }
.hero-widget .options { margin-top: 10px; }

.event-list {
	list-style: none;
	font-family: 'Lato', sans-serif;
	margin: 0px;
	padding: 0px;
}
.event-list > li {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 5px rgb(51, 51, 51);
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
	padding: 0px;
	margin: 0px 0px 20px;
}
.event-list > li > time {
	display: inline-block;
	width: 100%;
	color: rgb(255, 255, 255);
	background-color: #1e2a36;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}
.event-list > li:nth-child(even) > time {
	background-color: #1e2a36;
}
.event-list > li > time > span {
	/* display: none; */
}
.event-list > li > time > .day {
	display: block;
	font-size: 20pt;
	font-weight: 100;
	line-height: 1;
}
.event-list > li time > .month {
	display: block;
	font-size: 15pt;
	font-weight: 900;
	line-height: 1;
}
.event-list > li > img {
	width: 100%;
}
.event-list > li > .info {
	padding-top: 5px;
	text-align: center;
}
.event-list > li > .info > .title {
	font-size: 12pt;
	font-weight: 700;
	margin: 0px;
}
.event-list > li > .info > .desc {
	font-size: 13pt;
	font-weight: 300;
	margin: 0px;
}
.event-list > li > .info > ul,
.event-list > li > .social > ul {
	display: block;
	padding: 0px;
	width: 100%;
	text-align: left;
	padding-left: 10px;
	list-style: none;
}

.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
	cursor: pointer;
	color: rgb(30, 30, 30);
	font-size: 11pt;
	font-weight: 300;
    padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
	display: block;
	width: 100%;
	color: rgb(30, 30, 30);
	text-decoration: none;
} 
 
.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
	color: rgb(30, 30, 30);
	background-color: rgb(200, 200, 200);
}

@media (min-width: 768px) {
	.event-list > li {
		position: relative;
		display: inline-block;
		width: 48%;
		height: 120px;
		padding: 0px;
	
		margin-right: 4px;
		margin-left: 5px;
	}
	.event-list > li > time,
	.event-list > li > img  {
		display: inline-block;
	}
	.event-list > li > time,
	.event-list > li > img {
		width: 120px;
		float: left;
	}
	.event-list > li > .info {
		background-color: rgb(245, 245, 245);
		overflow: hidden;
	}
	.event-list > li > time,
	.event-list > li > img {
		width: 120px;
		height: 120px;
		padding: 10px 0px;
		margin: 0px;
	}
	.event-list > li > .info {
		position: relative;
		height: 120px;
		text-align: left;
	}	
	.event-list > li > .info > .title, 
	.event-list > li > .info > .desc {
		padding: 0px 10px;
	
	}
	.event-list > li > .info > ul {
		padding-top: 5px;
	}	
}

@media (min-width: 1200px) {
	.event-list > li {
		position: relative;
		display: inline-block;
		width: 24%;
		height: 120px;
		padding: 0px;
	
		margin-right: 4px;
		margin-left: 5px;
	}
	.event-list > li > time,
	.event-list > li > img  {
		display: inline-block;
	}
	.event-list > li > time,
	.event-list > li > img {
		width: 120px;
		float: left;
	}
	.event-list > li > .info {
		background-color: rgb(245, 245, 245);
		overflow: hidden;
	}
	.event-list > li > time,
	.event-list > li > img {
		width: 120px;
		height: 120px;
		padding: 10px 0px;
		margin: 0px;
	}
	.event-list > li > .info {
		position: relative;
		height: 120px;
		text-align: left;
	}	
	.event-list > li > .info > .title, 
	.event-list > li > .info > .desc {
		padding: 0px 10px;
	
	}
	.event-list > li > .info > ul {
		padding-top: 5px;
	}
}

.section-box h2 { margin-top:0px;}
.section-box h2 a { font-size:15px; }
.separator { padding-right:5px;padding-left:5px; }
.section-box hr {margin-top: 0;margin-bottom: 5px;border: 0;border-top: 1px solid rgb(199, 199, 199);}
.client-name {
	padding: 0px 0px;
	font-size: 12pt;
	font-weight: 700;
	margin: 0px;
}
ul.client-info, ul.client-info > li {
	list-style-type: none;
	padding: 0px;
}

ul.client-info > li:hover {
	color: rgb(30, 30, 30);
	background-color: rgb(200, 200, 200);
}

.dashboard-label {
	min-height: 48px;
}

@media (min-width: 768px) {
	.hero-special-height {
		height: 284px;
	}
}