/* 
    Document   : floorplan
    Created on : Jun 12, 2014, 8:02:26 AM
    Author     : vanjoechua
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.floorplan {
    position:relative;
}

.floorplan .room {
    position: absolute;
/*    border: 2px dashed skyblue;*/
    border-radius: 3%;
    cursor: pointer;
    padding: 5px;
    opacity: 0.7;
    text-align: center;
}

.floorplan .room:before, .floorplan .room-contents {
    display: inline-block;
    vertical-align: middle;
}

.floorplan .room:before {
  /* this is the important part */
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.floorplan .room:hover {
    background: rgba(220, 220, 220, .8);
    opacity: 1;
}

.thumbnail {
    text-align: center !important;
    cursor: pointer;
}

.rowflex {
    display:flex;
    align-items:stretch;
}

.gridflex {
    flex-grow: 1;
    display:flex;
    align-items:stretch;
}

/*.orgchart .gridflex {
    flex-grow: 0;
    display:flex;
    align-items:stretch;
    justify-content:flex-end;
}*/

