/* 
    Document   : matters
    Created on : Jun 12, 2014, 8:06:34 PM
    Author     : vanjoechua
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.handlers .well {
    text-align: center !important;
    cursor: pointer;
}

