html {
        background: url(/assets/thisapp/images/app/hk.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

body {
        background: transparent;
}