/* make sidebar nav vertical */
.todolist {
    width: 100%;
    border: 1px solid grey;
}

.todolist .sidebar-nav {
    background-color: azure;
    height: 100%;
    width: 16.66667%;
    float: left;
    box-sizing: border-box;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: grey;
}

.todolist .task-list-bar {
    height: 100%;
    width: 25%;
    float: left;
    box-sizing: border-box;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: grey;
}

.todolist .task-background {
    background-color: white;
    height: 100%;
    width: 58.33333%;
    float: left;
    box-sizing: border-box;
}

.todolist .task-sorter {
    background-color: lightgray;
    padding: 5px;
    height: 55px;
}

.todolist .task-list {
    height: calc(100% - 110px);
}

.todolist .task-list ul{
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
}

.todolist .task-list li .task{
    padding-left:15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.task-list-focus{
    background-color: royalblue;
    color: white;
}

.task-list-focus .task-message{
    color: lightgrey !important;
}

.task-list-focus .task-date{
    color: white !important;
}

.todolist .task-list li .task-date{
    color: DodgerBlue;
    float: right;
}

.todolist .task-list li hr{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.todolist .task-list .task-requested-by{
    font-weight: bold;
}

.todolist .task-list .task-message{
    color: grey;
/*    height: 40px;*/
}
#task-detail{
    padding: 15px;
/*    font-size: 1.2em;*/
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
}


#task-detail .task-requested-by{
    font-weight: bold;
}

#task-detail .task-date{
    color: grey;
    float: right;
}

#task-detail .task-to{
    color: grey;
}

span.status {
    font-size: 1.2em
}

span.orange {
    color: orange;
}

span.red {
    color: red;
}

span.green {
    color: green;
}

.search{
    padding-left:15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dark-hr {
    height: 2px !important;
    background: dimgray;
    margin-bottom: 10px;
}

.help-block {
    font-size: 1.0em !important;
    background-color: yellow;
}

#task-detail .task-message {
    border-radius: 5px;
    padding:10px;
    background-color: ghostwhite;
    border: 1px solid #d4d4d4;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

#task-detail .task-reply-final {
    border-radius: 5px;
    padding:10px;
    background-color: #FFF0F5;
    border: 1px solid #d4d4d4;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    margin-top: 15px;
}