<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
    </div>
    <div class="modal-body">
          <ul class="nav nav-tabs tmpl_tabs"></ul>
          <div class="tab-content" style="height:612px; overflow-y: auto; overflow-x: hidden;">
              <div class="tab-pane active" id="matters">
                 
                <div style="margin-left: 15px; margin-bottom: 10px;">
                    <div>
                        <span style="color: #18bc9c;"><img src="/assets/thisapp/images/matters/green.png" width="25"/>&nbsp;Active Last 4 Weeks</span>
                        <span style="margin-left: 20px; color: orange;"><img src="/assets/thisapp/images/matters/orange.png" width="25"/>&nbsp;Last Activity Between 4 and 8 Weeks</span>
                        <span style="margin-left: 20px; color: red;"><img src="/assets/thisapp/images/matters/red.png" width="25"/>&nbsp;Last Activity Beyond 8 Weeks</span>
                    </div>
                    <div>
                        <span style="color: gray;"><img src="/assets/thisapp/images/matters/grey.png" width="25"/>&nbsp;Untouched/No Activity</span>
                        <span style="margin-left: 20px; color: blue;"><img src="/assets/thisapp/images/matters/blue.png" width="25"/>&nbsp;Completed Matters</span>
                    </div>
                </div>
               
                  <div class="well well-sm">
                      <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12">
                              <form class="form-inline" role="form">
                                <div class="form-group tmpl_group_header"></div>
                                <div class="form-group">
                                  <button type="button" class="btn btn-primary _handler_search_" onclick="search()">Search</button>
                                </div>
                              </form>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                  </div>
                  <table class="table table-hover" id="handler_information_">
                      <thead>
                          <tr>
                              <th colspan="3" style="text-align: right; margin-right: 15px; background-color: gold;">Totals Summary</th>
                              <th class="h_billable h_b1" style="text-align: right; background-color: gold;"></th>
                              <th class="h_billed h_b2" style="text-align: right; background-color: gold;"></th>
                              <th class="h_unbilled h_b3" style="text-align: right; background-color: gold;"></th>
                          </tr>
                          <tr style="background-color: gold;">
                              <th>&nbsp;</th>
                              <th>Reference</th>
                              <th>Matter</th>
                              <th style="text-align: right;">Billable Amount</th>
                              <th style="text-align: right;">Billed Amount</th>
                              <th style="text-align: right;">Unbilled Amount</th>
                          </tr>
                      </thead>
                      <tbody id='handler_info'></tbody>
                      <tfoot>
                          <tr>
                              <th colspan="3" style="text-align: right; margin-right: 15px; background-color: gold;">Totals Summary</th>
                              <th class="h_billable h_b1" style="text-align: right; background-color: gold;"></th>
                              <th class="h_billed h_b2" style="text-align: right; background-color: gold;"></th>
                              <th class="h_unbilled h_b3" style="text-align: right; background-color: gold;"></th>
                          </tr>
                      </tfoot>
                  </table>
              </div>
              <div class="tab-pane" id="info">
                  <div class="top-buffer"></div>
                  <form class="form-horizontal">
                    <fieldset>
                      <div class="form-group">
                        <label for="handler_nick_name" class="col-lg-3 control-label">
                              <span><img id="handler_image" width="200" src=""/></span>
                        </label>
                        <div class="col-lg-9">
                              <input type="text" class="form-control" id="handler_nick_name" placeholder="Nickname" value="" readonly>
                        </div>
                      </div>
                      <div class="form-group tmpl_initials">
                      </div>
                      <div class="form-group">
                        <label for="inputEmail" class="col-lg-3 control-label">Summary</label>
                        <div class="col-lg-9">
                              <dl class="dl-horizontal">
                                    <dt>Total Billable Amount</dt>
                                    <dd class="h_billable">$0.00</dd>
                                    <dt>Total Billed Amount</dt>
                                    <dd class="h_billed">$0.00</dd>
                                    <dt>Total Unbilled Amount</dt>
                                    <dd class="h_unbilled">$0.00</dd>
                              </dl>
                        </div>
                      </div>
                    </fieldset>
                  </form>
              </div>
          </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>